<html>
  <head>
  </head>
  <body>
    <h1>This is application.ejs</h1>
    <p>
    This is a <%= "p" %> tag
    </p>

    <% if (true) { %>
      <p>
        This p tag will only get rendered if 'if expression' is true
      </p>
    <% } %>
  </body>
</html>
