doctype html
html(lang="en")
  head
    title= Out of Office coffee bar
    script(type='text/javascript').
  body
    h1 The best coffee this of the Danube
    #container.col
    h2 Meet the Barista
    p Coffee is life. Life is coffee. That means life is a drink.

      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
