doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/business-frontpage.css')

  body
    h1 The best coffee this of the Danube
    #container.cols
    h2 Meet the Barista
    p Coffee is life. Life is coffee. That means life is a drink.



doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Business Frontpage - Start Bootstrap Template
    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='css/styles.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    style.
      #map {
      height: 400px;
      width: 100%;
      }
  body
    include navbar.pug

    header.business-header
      .container
        .row
          .col-lg-12
            h1.tagline Geniet van een heerlijke koffi
    // Page Content
    .container
      hr
      #about.row
        .col-sm-8
          h2 Welkome
          p
            | Introduce the visitor to the business using clear, informative text. Use well-targeted keywords within your sentences to make sure search engines can find the business.
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.
          p
            a.btn.btn-default.btn-lg(href='#') Call to Action »
        .col-sm-4
          img.img-circle.img-responsive.img-center(src='./images-index/barista.jpg', alt='')
          h4 Meet the Barista
          p
            | I was to busy in school beeing cool. Now I'm a barista. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.
      hr
      .row
        .col-sm-8
          h2 Locatie
          #map
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2437.585943353202!2d4.821444315800806!3d52.34165727978073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5e185f5252391%3A0xb236521450fa811d!2sJohn+M.+Keynesplein+4%2C+1066+EP+Amsterdam!5e0!3m2!1sen!2snl!4v1476778308055', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
        #contact.col-sm-4
          h2 Contact
          address
            strong Routebeschrijving
            p
              | U kunt ons vinden aan het John M. Keynesplein 4-10,
              | wij bevinden ons in de lobby van het gebouw.
            strong Adres
            br
            | Out of the Office
            br
            | John M. Keynesplein 4-10
            br
            | 1066 EP Amsterdam
          address
            abbr(title='Phone') P:
            | (123) 456-7890
            br
            abbr(title='Email') E:
            a(href='mailto:#') name@example.com
      // /.row
      hr
      // Footer
      footer
        .row
          .col-lg-12
            p Copyright © Your Website 2014
        // /.row
    // /.container
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
